@tailwind base;
@tailwind components;
@tailwind utilities;

.video_container {
    height: 600px;
    position: relative;
}

.video_content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
}